.azure {
  color: $azure;
}

.blue {
  color: $blue;
}

.yellow {
  color: $yellow;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.green-hover {
  color: $green-hover;
}

.dark-gray {
  color: $dark-gray;
}

.gray {
  color: $gray;
}

.purple {
  color: $purple;
}

.purple-hover {
  color: $purple-hover;
}

.white {
  color: $white;
}

.bg-purple {
  background-color: $purple;
}

.bg-green {
  background-color: $green;
}
